@model TreinaWeb.AspNetMvc.Web.Models.Person
@*o model acima ja declara qual tipo  de objeto vai usar como referencia quando receber os parametros nas linhas abaixo*@
@{
	ViewData["Title"] = "WELCOME!";
}

<h2>@ViewData["Title"]</h2>
<br />
<br />
<p>Digite suas informações: </p>

@* Abaixo os parametros > to chamando index, do controler Test, por metodo POST(registrar os dados no servidor) *@
@using (Html.BeginForm("Index", "Teste", FormMethod.Post))
{
	//TOKEN de segurança gerado pelo servidor para evitar páginas falsas(ex phishing)
	@Html.AntiForgeryToken()

	<div class="row">
		@*linha abaixo exibe a mensagem Required annotation declarada no index.cshtml*@
		@Html.ValidationMessageFor(p => p.Name)
		<br />
		<div class="col-sm-2 col-md-2 col-lg-2">
			@Html.LabelFor(p => p.Name)
		</div>
		<div class="col-sm-8 col-md-6 col-lg-4">
			@Html.TextBoxFor(p => p.Name, new { id = "txbName", @class = "form-control" })
		</div>
	</div>



	<div class="row">
		@*linha abaixo exibe a mensagem Required annotation declarada no index.cshtml*@
		@Html.ValidationMessageFor(p => p.Age)
		<br />
		<div class="col-sm-2 col-md-2 col-lg-2">
			@Html.LabelFor(p => p.Age)
		</div>
		<div class="col-sm-8 col-md-6 col-lg-4">
			@Html.TextBoxFor(p => p.Age, new { id = "txbAge", @class = "form-control" })
		</div>
	</div>



	<div class="row">
		@*linha abaixo exibe a mensagem Required annotation declarada no index.cshtml*@
		@Html.ValidationMessageFor(p => p.Address)
		<br />
		<div class="col-sm-2 col-md-2 col-lg-2">
			@Html.LabelFor(p => p.Address)
		</div>
		<div class="col-sm-8 col-md-6 col-lg-4">
			@Html.TextBoxFor(p => p.Address, new { id = "txbAddress", @class = "form-control" })
		</div>
	</div>



	<div class="row">
		@*linha abaixo exibe a mensagem Required annotation declarada no index.cshtml*@
		@Html.ValidationMessageFor(p => p.Email)
		<br />
		<div class="col-sm-2 col-md-2 col-lg-2">
			@Html.LabelFor(p => p.Email)
		</div>
		<div class="col-sm-8 col-md-6 col-lg-4">
			@Html.TextBoxFor(p => p.Email, new { id = "txbEmail", @class = "form-control" })
		</div>
	</div>

	<br />

	@* @Html.TextBox("Username", null, new {id = "txbName"}) *@
	@*linha abaixo pode substituir pela de cima, trocando html por razor*@
	@* <input type="text" id="txbName" name="Username"/> *@
	<div>
		<input type="submit" value="Submit" class="btn btn-primary" />
	</div>
}

